body{
margin:0;
font-family:Arial, Helvetica, sans-serif;

background-image:url("../images/Background2.jpg");
background-size:cover;
background-position:center;
background-attachment:scroll;
}


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;

background:rgba(0, 0, 0, 0);
backdrop-filter:blur(10px);
}

.navbar ul{
display:flex;
list-style:none;
gap:30px;
}

.navbar a{
text-decoration:none;
color:white;
font-weight:bold;
}

.logo{
font-size:20px;
font-weight:bold;
}

/* HERO */

.hero {
min-height: 70vh;
padding: 120px 20px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}


.hero h1{
font-size:50px;
margin-bottom:20px;
}

.hero p{
max-width:600px;
margin:auto;
font-size:18px;
}


/* BUTTONS */

.hero-buttons{
margin-top:30px;
}

.btn{
padding:14px 30px;
border-radius:30px;
border:none;

font-size:16px;

display:inline-flex;
align-items:center;
gap:10px;

cursor:pointer;
}

.invite{
background:white;
color:black;
}

.dashboard{
background:transparent;
border:2px solid white;
color:white;
}


/* FEATURES */

.features{
padding:100px 20px;
text-align:center;
}

.features-title{
font-size:35px;
}

.features-desc{
margin-bottom:50px;
}

.feature-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.feature{
background:white;
color:black;

padding:30px;
border-radius:15px;

width:250px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

.feature i{
font-size:30px;
margin-bottom:15px;
}

.wave{
position:absolute;
bottom:-5px;
left:0;
width:100%;
line-height:0;
}

.wave svg{
display:block;
width:100%;
height:180px;
}
/* Features Section */
#Moderation-Button{
    color: #298344;
    cursor: default;
}
#Moderation-Button:hover{
transform:translateY(-5px);
transition:0.2s;
}
#Ticketing-Button{
    color: #c93e3e;
    cursor: default;
}
#Ticketing-Button:hover{
transform:translateY(-5px);
transition:0.2s;
}
#Giveaways-Button{
    color: #001aff;
    cursor: default;
}
#Giveaways-Button:hover{
transform:translateY(-5px);
transition:0.2s;
}
/* GET STARTED */

#Get-Started{
padding:100px 20px;
text-align:center;
}

.get-started-section{
display:flex;
flex-direction:column;
align-items:center;
}

#Get-Started-Button{
border:#888 solid 2px;
margin-top:30px;
background-color: #00042b;
color: white;
}
/* FOOTER */

.footer{
background:#001aff;
color:white;
padding:60px 20px 20px 20px;
margin-top:100px;
}

.footer-container{
max-width:1200px;
margin:auto;

display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer-brand h2{
margin-bottom:10px;
}

.footer-links{
display:flex;
gap:60px;
flex-wrap:wrap;
}

.footer-column{
display:flex;
flex-direction:column;
gap:10px;
}

.footer-column h4{
margin-bottom:10px;
}

.footer-column a{
text-decoration:none;
color:#bdbdbd;
font-size:14px;
}

.footer-column a:hover{
color:white;
}

.footer-social{
display:flex;
gap:20px;
font-size:22px;
}

.footer-social a{
color:white;
}

.footer-bottom{
text-align:center;
margin-top:40px;
font-size:14px;
color:#888;
}